[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.0
[submodule "src/rapidyaml"]
	path = src/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
